<header class="app-header">
  <mat-toolbar>
    <span class="spacer"></span>
    <button routerLink="/cardapio" mat-button>Cardápio</button>
    <button routerLink="/pedido" mat-button>Pedido</button>
    <button routerLink="/atendimento" mat-button>Atendimento</button>
    <button mat-button>Sobre</button>
    <button routerLink="/auth/cadastro" mat-raised-button color="primary">CADASTRE-SE</button>
    <button routerLink="/auth/login" mat-stroked-button>LOGIN</button>
  </mat-toolbar>
</header>

