<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table">
  <ng-container *ngFor="let displayedColumn of displayedColumnsInput;" matColumnDef="{{displayedColumn}}">
    <ng-container *ngIf="isIdColumn(displayedColumn), else exibirValor">
      <th mat-header-cell *matHeaderCellDef class="column-name">#</th>
    </ng-container>
    <ng-template #exibirValor>
      <ng-container *ngIf="!isDecimalColumn(displayedColumn), else showFormattedDecimalValue">
        <th mat-header-cell *matHeaderCellDef class="column-name">{{ displayedColumn }}</th>
      </ng-container>
      <ng-template #showFormattedDecimalValue >
        <th mat-header-cell *matHeaderCellDef class="column-name">{{ displayedColumn }}</th>
      </ng-template>
    </ng-template>
    <ng-container *ngIf="isIdColumn(displayedColumn), else showFormattedIdValue">
      <td mat-cell *matCellDef="let i = index">{{ i+1 }}</td>
    </ng-container>
    <ng-template #showFormattedIdValue >
      <ng-container *ngIf="!isDecimalColumn(displayedColumn), else showFormattedDecimalValue">
        <td mat-cell *matCellDef="let element">{{ element[displayedColumn] }}</td>
      </ng-container>
      <ng-template #showFormattedDecimalValue >
        <td mat-cell *matCellDef="let element">{{ element[displayedColumn] | number: '1.2' }}</td>
      </ng-template>
    </ng-template>
  </ng-container>
  <!--ng-container matColumnDef="total">
    <th mat-header-cell *matHeaderCellDef>Total</th>
    <td mat-cell *matCellDef="let element">{{element.preco * element.quantidade}}</td>
  </ng-container -->
  <ng-container matColumnDef="editRemoveIcons" *ngIf=isShowEditRemoveIcons>
    <th mat-header-cell *matHeaderCellDef style="text-align: center;"></th>
    <td mat-cell *matCellDef="let element">
      <span class="icon">
        <button mat-fab color="primary" (click)="openEditDialog(element)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-fab color="primary" (click)="remove(element)">
          <mat-icon>delete</mat-icon>
        </button>
      </span>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<div class="button-container">
  <button mat-raised-button [disabled]="!dataSource.length || isContaEncerrada" class="button" (click)="encerrarConta()">
    Encerrar conta
  </button>
</div>