<app-card variant="secondary" class="filter-busca">
  <form>
    <div class="flex-container">
      <mat-form-field class="input-container" appearance="outline">
        <mat-label>Pedido</mat-label>
        <mat-icon matPrefix>
          restaurant_menu
        </mat-icon>
        <input matInput placeholder="Pedido">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
      <button mat-flat-button color="primary">BUSCAR</button>
    </div>
    <div class="flex-container">
      <mat-chip-listbox aria-label="Seleção de critérios">
        <mat-chip-option selected>TUDO</mat-chip-option>
        <mat-chip-option>Bebidas</mat-chip-option>
        <mat-chip-option>Comidas</mat-chip-option>
        <mat-chip-option>Doce</mat-chip-option>
      </mat-chip-listbox>
    </div>
  </form>
</app-card>
