<mat-sidenav-container autosize>
  <mat-sidenav-content>
    <section class="pedido">
      <app-container>
        <h2>Pedido</h2>
        <div class="card-wrapper">
          <app-crud-list
            [displayedColumnsInput]="tableColsNames" [customPedidoList]="customPedidoList" [showEditRemoveIcons]="false"
            [isContaEncerrada]="isContaEncerrada" (encerrarContaEvent)="encerrarConta()"
          ></app-crud-list>
        </div>
      </app-container>
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>
