<mat-sidenav-container autosize>
  <mat-sidenav-content>
    <section class="pedido">
      <app-container>
        <h2>Pedido</h2>
        <div class="card-wrapper">
          <app-crud-list
            [displayedColumnsInput]="colunas" [dataSourceInput]="linhas" [showEditRemoveIcons]="false"
            (updateEvent)="updateDataSourceElement($event)" (removeEvent)="removeDataSourceElement($event)"
            [isContaEncerrada]="false" (encerrarContaEvent)="encerrarConta()"
          ></app-crud-list>
        </div>
      </app-container>
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>
