<mat-sidenav-container autosize>
  <mat-sidenav [opened]="true" mode="side">
    <h1>EM ALTA</h1>
    <label>Aperitivos</label>
    <mat-nav-list>
      <a mat-list-item>
        <span class="entry">
          <mat-icon>egg</mat-icon>
          <span>Isca de peixe</span>
        </span>
      </a>
      <a mat-list-item>
        <span class="entry">
          <mat-icon>egg</mat-icon>
          <span>Isca de peixe</span>
        </span>
      </a>
    </mat-nav-list>
    <label>Comidas</label>
    <mat-nav-list>
      <a mat-list-item>
        <span class="entry">
          <mat-icon>local_dining</mat-icon>
          <span>Batatinha</span>
        </span>
      </a>
      <a mat-list-item>
        <span class="entry">
          <mat-icon>local_dining</mat-icon>
          <span>Batatinha</span>
        </span>
      </a>
      <a mat-list-item>
        <span class="entry">
          <mat-icon>local_dining</mat-icon>
          <span>Batatinha</span>
        </span>
      </a>
      <a mat-list-item>
        <span class="entry">
          <mat-icon>local_dining</mat-icon>
          <span>Batatinha</span>
        </span>
      </a>
      <a mat-list-item>
        <span class="entry">
          <mat-icon>local_dining</mat-icon>
          <span>Batatinha</span>
        </span>
      </a>
    </mat-nav-list>
    <label>Bebidas</label>
    <mat-nav-list>
      <a mat-list-item>
        <span class="entry">
          <mat-icon>wine_bar</mat-icon>
          <span>Vinho</span>
        </span>
      </a>
      <a mat-list-item>
        <span class="entry">
          <mat-icon>sports_bar</mat-icon>
          <span>Cerveja</span>
        </span>
      </a>
      <a mat-list-item>
        <span class="entry">
          <mat-icon>liquor</mat-icon>
          <span>Whisky</span>
        </span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <section class="homepage">
      <app-container>
        <h2>Cardápio</h2>
        <app-filter-cardapio></app-filter-cardapio>
        <app-lista-cardapio></app-lista-cardapio>
      </app-container>
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>
